version: '{build}'
image: Visual Studio 2019
configuration: Release
platform: x86_64
install:
- ps: >-
    Start-FileDownload 'https://github.com/premake/premake-core/releases/download/v5.0.0-alpha15/premake-5.0.0-alpha15-windows.zip' 'premake.zip'

    Start-FileDownload 'https://github.com/electron/rcedit/releases/download/v1.1.1/rcedit-x64.exe'

    7z x premake.zip

    .\premake5.exe vs2019
build:
  project: build/slate2d.sln
  verbosity: minimal
after_build:
- cmd: >-
    package.bat plat
artifacts:
- path: build\bin\x86_64_Release\slate2d.dll
  name: Slate2D - x64 DLL
- path: build\plat.zip
  name: Slate2D - Platformer